advisor.py
countries.txt
decorators.py
IMDB_Scraper.py
__pycache__
Py_threading.py
scrapy_scrapy.py
venv
calculate.py
data_science.py
decorators_test.py
exchange.txt
imdb.txt
sel.py
webBrowser.py
calculate_test.py
data.txt
downloaded.txt
geckodriver.log
proposal.txt
scaper.py
space_api.py
